@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* Hide scrollbar for all elements except when hovering */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    width: 0.3em; /* width of scrollbar */
  }
  &::-webkit-scrollbar-track {
    background: none; /* color of scrollbar track */
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    border: 3px solid #f4f1f1;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  
  h1 {
    font-family: "Raleway", sans-serif;
  }

  p {
    font-family: "Open Sans", sans-serif;
  }

  hr {
    width: 100%;
  }
}

.navbar__drawer {
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}

.navbar__drawer--open {
  transform: translateX(0%);
}

/* Background opacity after drawer open is set to normal*/
.bg-opacity-50 {
  --tw-bg-opacity: 0.0
}

